<div class="container-fluid padding">
  <div class="row padding">

    <div class="col-md-4" *ngFor="let p of products">
      <div class="card">
          <img src="#" alt="" class="card-img-top">
          <div class="card-body">
              <h4 class="card-title">{{p.name}}</h4>
              <p class="card-text">
                  {{p.description}}
              </p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
      </div>
    </div>

  </div>
</div>

